<html>
    <head>
    </head>
    <body>
        <h2>
            Hello <%=company.user.name%>
        </h2>
        <br>
        <p>You are receiving this because you (or someone else) have requested the reset of the password for your account.</p>
        <br>
        <p>Thank You!!!</p>
    </body>
</html>