<html>
    <head>
    </head>
    <body>
        <h2>
            Hello <%=company.user.name%>
        </h2>
        <br>
        <p>Amount of Rupees <%=company.invest%> is successfully invested in <%=company.company_name%></p>
        <br>
        <p>Thank You!!!</p>
    </body>
</html>